<body class="index">
    <div class="subindex">
        <h1>Cinema Ironhack</h1>
        <button class="button">
        <a href="/movies/movies">Check movies</a>
        </button>
    </div>
</body>

